@charset "utf-8";
@import './util.scss';

.globalLayout{
	&.layoutPost{
		display: flex;
		flex-direction: column;
		.globalLayoutChildren{
			&.layoutHeader{
				width: 100%;
				.headInner{
					width: $CONATINER_WIDTH;
					margin-left: auto;
					margin-right: auto;
					display: flex;
					align-items: center;
				}
			}
			&.layoutLnb{
				width: conv_rem($CONATINER_WIDTH * .25);
				height: 30px;
				background: blue
			}
			&.layoutContent{
				width: conv_rem($CONATINER_WIDTH * .75);
				height: 30px;
				background: green
			}
		}
	}
}