@charset 'utf-8';

//BASE
$HTML_FONTSIZE: 16px;
$CONATINER_WIDTH: 1200px;
$FONT_FAMILY: "Malgun Gothic","dotum",-apple-system-font, "Apple SD Gothic Neo", sans-serif;
//COLOR
$COLOR_WHITE:rgba(255,255,255,1);
$COLOR_BLACK:rgba(0,0,0,1);
$COLOR_PRIMARY:rgba(22, 24, 35, 1);
$COLOR_SECONDARY:rgba(22, 24, 35, .75);
$COLOR_TERTIARY:rgba(22, 24, 35, .5);
$COLOR_QUATERNARY:rgba(22, 24, 35, .35);
$COLOR_BOLD:rgba(254, 44, 85, 1);
$COLOR_ERROR:rgb(252, 17, 17);
//FONT-weight
$FONTWEIGHT_REGULAR : 300;
$FONTWEIGHT_NORMAL : 500;
$FONTWEIGHT_BOLD : 700;
//FONT-size
$FONTSIZE_XX_LARGE : 23px;
$FONTSIZE_X_LARGE : 19px;
$FONTSIZE_LARGE : 17px;
$FONTSIZE_MIDIUM : 14px;
$FONTSIZE_SAMLL : 13px;
$FONTSIZE_X_SAMLL : 12px;
$FONTSIZE_BASE : 14px;
//HEAD-size
$HEAD_LEVEL1:96px;
$HEAD_LEVEL2:72px;
$HEAD_LEVEL3:56px;
$HEAD_LEVEL4:48px;
$HEAD_LEVEL5:32px;
$HEAD_LEVEL6:24px;
$HEAD_LEVEL7:18px;
//BORDER
$BORDER_COLOR_GRAY: rgb(233,233,233);
$BORDER_COLOR_DGRAY: rgb(200,200,200);

@function conv_rem($px){
	@return $px / $HTML_FONTSIZE+rem;
}


